<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>ServletDemo1</servlet-name>
        <servlet-class>com.http.servlet.ServletDemo01</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletDemo1</servlet-name>
        <url-pattern>/http/ServletDemo1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletDemo02</servlet-name>
        <servlet-class>com.http.servlet.ServletDemo02</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletDemo02</servlet-name>
        <url-pattern>/http/ServletDemo02</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletDemo03</servlet-name>
        <servlet-class>com.http.servlet.ServletDemo03</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletDemo03</servlet-name>
        <url-pattern>/http/ServletDemo03</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletDemo04</servlet-name>
        <servlet-class>com.http.servlet.ServletDemo04</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletDemo04</servlet-name>
        <url-pattern>/http/ServletDemo04</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletDemo05</servlet-name>
        <servlet-class>com.http.servlet.ServletDemo05</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletDemo05</servlet-name>
        <url-pattern>/http/ServletDemo05</url-pattern>
    </servlet-mapping>

</web-app>