<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.TSysPermissionMapper">
  <resultMap id="BaseResultMap" type="com.model.mybatis.TSysPermission">
    <id column="n_id" jdbcType="NUMERIC" property="nId" />
    <result column="n_valid" jdbcType="NUMERIC" property="nValid" />
    <result column="c_name" jdbcType="VARCHAR" property="cName" />
    <result column="n_parent_id" jdbcType="NUMERIC" property="nParentId" />
    <result column="c_parent_ids" jdbcType="VARCHAR" property="cParentIds" />
    <result column="c_permission" jdbcType="VARCHAR" property="cPermission" />
    <result column="c_resource_type" jdbcType="VARCHAR" property="cResourceType" />
    <result column="c_url" jdbcType="VARCHAR" property="cUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    n_id, n_valid, c_name, n_parent_id, c_parent_ids, c_permission, c_resource_type, 
    c_url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_sys_permission
    where n_id = #{nId,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_sys_permission
    where n_id = #{nId,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.model.mybatis.TSysPermission">
    insert into t_sys_permission (n_id, n_valid, c_name, 
      n_parent_id, c_parent_ids, c_permission, 
      c_resource_type, c_url)
    values (#{nId,jdbcType=NUMERIC}, #{nValid,jdbcType=NUMERIC}, #{cName,jdbcType=VARCHAR}, 
      #{nParentId,jdbcType=NUMERIC}, #{cParentIds,jdbcType=VARCHAR}, #{cPermission,jdbcType=VARCHAR}, 
      #{cResourceType,jdbcType=VARCHAR}, #{cUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.model.mybatis.TSysPermission">
    insert into t_sys_permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nId != null">
        n_id,
      </if>
      <if test="nValid != null">
        n_valid,
      </if>
      <if test="cName != null">
        c_name,
      </if>
      <if test="nParentId != null">
        n_parent_id,
      </if>
      <if test="cParentIds != null">
        c_parent_ids,
      </if>
      <if test="cPermission != null">
        c_permission,
      </if>
      <if test="cResourceType != null">
        c_resource_type,
      </if>
      <if test="cUrl != null">
        c_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nId != null">
        #{nId,jdbcType=NUMERIC},
      </if>
      <if test="nValid != null">
        #{nValid,jdbcType=NUMERIC},
      </if>
      <if test="cName != null">
        #{cName,jdbcType=VARCHAR},
      </if>
      <if test="nParentId != null">
        #{nParentId,jdbcType=NUMERIC},
      </if>
      <if test="cParentIds != null">
        #{cParentIds,jdbcType=VARCHAR},
      </if>
      <if test="cPermission != null">
        #{cPermission,jdbcType=VARCHAR},
      </if>
      <if test="cResourceType != null">
        #{cResourceType,jdbcType=VARCHAR},
      </if>
      <if test="cUrl != null">
        #{cUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.mybatis.TSysPermission">
    update t_sys_permission
    <set>
      <if test="nValid != null">
        n_valid = #{nValid,jdbcType=NUMERIC},
      </if>
      <if test="cName != null">
        c_name = #{cName,jdbcType=VARCHAR},
      </if>
      <if test="nParentId != null">
        n_parent_id = #{nParentId,jdbcType=NUMERIC},
      </if>
      <if test="cParentIds != null">
        c_parent_ids = #{cParentIds,jdbcType=VARCHAR},
      </if>
      <if test="cPermission != null">
        c_permission = #{cPermission,jdbcType=VARCHAR},
      </if>
      <if test="cResourceType != null">
        c_resource_type = #{cResourceType,jdbcType=VARCHAR},
      </if>
      <if test="cUrl != null">
        c_url = #{cUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where n_id = #{nId,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.mybatis.TSysPermission">
    update t_sys_permission
    set n_valid = #{nValid,jdbcType=NUMERIC},
      c_name = #{cName,jdbcType=VARCHAR},
      n_parent_id = #{nParentId,jdbcType=NUMERIC},
      c_parent_ids = #{cParentIds,jdbcType=VARCHAR},
      c_permission = #{cPermission,jdbcType=VARCHAR},
      c_resource_type = #{cResourceType,jdbcType=VARCHAR},
      c_url = #{cUrl,jdbcType=VARCHAR}
    where n_id = #{nId,jdbcType=NUMERIC}
  </update>

</mapper>