<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
    <meta charset="UTF-8"/>
    <title>用户管理系统</title>
    <style>
        .center {
            text-align:center;
        }
        table,td,th
        {
            text-align:center;
        }
    </style>
</head>

<body>

<div class="contentDiv">

    <h2 class="center"> 用户管理系统 </h2>

    <table class="table table-hover table-condensed">
        <legend>
            <strong>用户列表</strong>
        </legend>
        <thead>
        <tr>
            <th>id</th>
            <th>姓名</th>
            <th>账号</th>
            <th>角色id</th>
            <th>生日</th>
            <th>电话</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList}">
            <th scope="row" th:text="${user.id}"></th>
            <td><a th:href="@{/thymeleaf/user/update/{id}(id=${user.id})}" th:text="${user.username}"></a></td>
            <td th:text="${user.usercode}"></td>
            <td th:text="${user.roleIds}"></td>
            <td th:text="${user.birthday}"></td>
            <td th:text="${user.telephone}"></td>
            <td><a class="btn btn-danger" th:href="@{/thymeleaf/user/delete/{id}(id=${user.id})}">删除</a></td>
        </tr>
        </tbody>
    </table>

    <div class="center"><a class="btn btn-primary" href="/thymeleaf/user/create" role="button">注册用户</a></div>
</div>

</body>
</html>
