<?xml version="1.0" encoding="utf-8"?>

<config> 
  <param key="KAFKA_BROKER_LIST" name="kafka 服务器 broker url" type="String" description="服务器IP地址，多台服务器已逗号分隔">{% for host in groups['kafka_servers'] -%}{% if loop.index > 1 %},{% endif %}{{host}}:9092{%- endfor %}</param>  
  <param key="ZK_LIST" name="zookeeper 服务器 broker url" type="String" description="服务器IP地址，多台服务器已逗号分隔">{% for host in groups['zk_servers'] -%}{% if loop.index > 1 %},{% endif %}{{host}}:2181{%- endfor %}</param>
  <param key="ZK_KAFKA_LIST" name="zookeeper 服务器 broker url" type="String" description="服务器IP地址，多台服务器已逗号分隔">{% for host in groups['zk_servers'] -%}{% if loop.index > 1 %},{% endif %}{{host}}:2181{%- endfor %}/kafka</param>
  
  <REDIS_IP_PORT DESC="连接redis的ip端口">{% for host in groups['redis_servers'] -%}{% if loop.index > 1 %},{% endif %}{% for port in range(hostvars[host]['begin_port'],hostvars[host]['end_port']+1) %}{% if loop.index > 1 %},{% endif %}{{host}}:{{port}}{% endfor %}{%- endfor %}</REDIS_IP_PORT> 
  <REDIS_MODEL DESC="Redis部署模式[0:单机模式 1:哨兵模式 2:集群]">2</REDIS_MODEL>
  
  <param key="FDFS_PORT" name="" type="String" description="fdfs图片获取端口">8088</param>
  <param key="CONNECT_TIMEOUT" name="" type="String" description="连接超时时间(单位s)">5000</param>  
  <param key="NETWORK_TIMEOUT" name="" type="String" description="网络回复超时时间(单位s)">10000</param>  
  <param key="TRACKER_HTTP_PORT" name="" type="String" description="http访问端口">8088</param>
  <param key="FASTDFS_HTTP_PORT" name="fastdfs文件http访问端口" type="String" description="fastdfs文件http访问端口,一般是等于storage服务器上nginx端口">8088</param>
  <param key="TRACKER_SERVER" name="" type="String" description="服务器地址，多台服务器以逗号分隔">{% for host in groups['tracker_servers'] -%}{% if loop.index > 1 %},{% endif %}{{host}}:22122{%- endfor %}</param>  
  <param key="BLOB_TYPE" name="" type="String" description="储存方式(fdfs|localfs)">fdfs</param>
  
  <param key="FACE_FEATURE_ES_IP" name="大数据引擎IP" type="String" description="大数据引擎IP" >{% for host in groups['es_servers'] -%}{% if loop.index < 2 %}{{host}}{% endif %}{%- endfor %}</param>
  <param key="FACE_FEATURE_ES_PORT" name="大数据引擎端口" type="String" description="大数据引擎端口" >{{ transport_port }}</param>
  <param key="FACE_FEATURE_ES_CLUSTER" name="大数据引擎ES集群名" type="String" description="大数据引擎ES集群名">{{ cluster_name }}</param>
  <param key="FACE_FEATURE_ES_SSD_IP" name="大数据人脸特征查询IP" type="String" description="大数据人脸特征查询IP" >{% for host in groups['es_servers'] -%}{% if loop.index < 2 %}{{host}}{% endif %}{%- endfor %}</param>
  <param key="FACE_FEATURE_ES_SSD_PORT" name="大数据人脸特征查询端口" type="String" description="大数据人脸特征查询端口" >9300</param>
  <param key="FACE_FEATURE_ES_SSD_CLUSTER" name="大数据人脸特征查询集群名" type="String" description="大数据人脸特征查询集群名" >face_search_bigdata</param>
  <param key="HOT_DATA_ES_IP" name="大数据人脸特征查询IP" type="String" description="大数据人脸特征查询IP" >{% for host in groups['es_servers'] -%}{% if loop.index < 2 %}{{host}}{% endif %}{%- endfor %}</param>
  <param key="HOT_DATA_ES_PORT" name="大数据人脸特征查询端口" type="String" description="大数据人脸特征查询端口" >9300</param>
  <param key="HOT_DATA_ES_CLUSTER" name="大数据人脸特征查询集群名" type="String" description="大数据人脸特征查询集群名">face_search_bigdata</param>
  <param key="FDFS_TYPE" name="" type="String" description="fastdfs服务器类型：normal|pcidfs">pcidfs</param>


  <param key="FDFS_PORT" name="" type="String" description="fdfs图片获取端口">8088</param>
  <param key="FDFS_URL" name="" type="String" description="fdfs图片获取前缀">{% for host in groups['tracker_servers'] -%}{% if loop.index > 1 %},{% endif %}http://{{host}}:8088/{%- endfor %}</param>

</config>
