<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suntek.auto.operation.mapper.AosComponentInstallConfigMapper">
  <resultMap id="BaseResultMap" type="com.suntek.auto.operation.entity.AosComponentInstallConfig">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="COMPONENT_INSTALL_ID" jdbcType="VARCHAR" property="componentInstallId" />
    <result column="COMPONENT_CONFIG_ID" jdbcType="VARCHAR" property="componentConfigId" />
    <result column="VALUE" jdbcType="VARCHAR" property="value" />
    <result column="UPDAETTIME" jdbcType="TIMESTAMP" property="updaettime" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, COMPONENT_INSTALL_ID, COMPONENT_CONFIG_ID, VALUE, UPDAETTIME, CREATETIME, REMARK
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from AOS_COMPONENT_INSTALL_CONFIG
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from AOS_COMPONENT_INSTALL_CONFIG
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.suntek.auto.operation.entity.AosComponentInstallConfig">
    insert into AOS_COMPONENT_INSTALL_CONFIG (ID, COMPONENT_INSTALL_ID, COMPONENT_CONFIG_ID, 
      VALUE, UPDAETTIME, CREATETIME, 
      REMARK)
    values (#{id,jdbcType=INTEGER}, #{componentInstallId,jdbcType=VARCHAR}, #{componentConfigId,jdbcType=VARCHAR}, 
      #{value,jdbcType=VARCHAR}, #{updaettime,jdbcType=TIMESTAMP}, #{createtime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.suntek.auto.operation.entity.AosComponentInstallConfig">
    insert into AOS_COMPONENT_INSTALL_CONFIG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="componentInstallId != null">
        COMPONENT_INSTALL_ID,
      </if>
      <if test="componentConfigId != null">
        COMPONENT_CONFIG_ID,
      </if>
      <if test="value != null">
        VALUE,
      </if>
      <if test="updaettime != null">
        UPDAETTIME,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="componentInstallId != null">
        #{componentInstallId,jdbcType=VARCHAR},
      </if>
      <if test="componentConfigId != null">
        #{componentConfigId,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="updaettime != null">
        #{updaettime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.suntek.auto.operation.entity.AosComponentInstallConfig">
    update AOS_COMPONENT_INSTALL_CONFIG
    <set>
      <if test="componentInstallId != null">
        COMPONENT_INSTALL_ID = #{componentInstallId,jdbcType=VARCHAR},
      </if>
      <if test="componentConfigId != null">
        COMPONENT_CONFIG_ID = #{componentConfigId,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        VALUE = #{value,jdbcType=VARCHAR},
      </if>
      <if test="updaettime != null">
        UPDAETTIME = #{updaettime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.suntek.auto.operation.entity.AosComponentInstallConfig">
    update AOS_COMPONENT_INSTALL_CONFIG
    set COMPONENT_INSTALL_ID = #{componentInstallId,jdbcType=VARCHAR},
      COMPONENT_CONFIG_ID = #{componentConfigId,jdbcType=VARCHAR},
      VALUE = #{value,jdbcType=VARCHAR},
      UPDAETTIME = #{updaettime,jdbcType=TIMESTAMP},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>