<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suntek.auto.operation.mapper.AosComponentConfigMapper">
  <resultMap id="BaseResultMap" type="com.suntek.auto.operation.entity.AosComponentConfig">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="COMPONENT_ID" jdbcType="VARCHAR" property="componentId" />
    <result column="CONFIG_PROPERTY" jdbcType="VARCHAR" property="configProperty" />
    <result column="DEFAULT_VALUE" jdbcType="VARCHAR" property="defaultValue" />
    <result column="CONFIG_TEMPLATE" jdbcType="VARCHAR" property="configTemplate" />
    <result column="UPDAETTIME" jdbcType="TIMESTAMP" property="updaettime" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, COMPONENT_ID, CONFIG_PROPERTY, DEFAULT_VALUE, CONFIG_TEMPLATE, UPDAETTIME, CREATETIME, 
    REMARK
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from AOS_COMPONENT_CONFIG
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from AOS_COMPONENT_CONFIG
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.suntek.auto.operation.entity.AosComponentConfig">
    insert into AOS_COMPONENT_CONFIG (ID, COMPONENT_ID, CONFIG_PROPERTY, 
      DEFAULT_VALUE, CONFIG_TEMPLATE, UPDAETTIME, 
      CREATETIME, REMARK)
    values (#{id,jdbcType=INTEGER}, #{componentId,jdbcType=VARCHAR}, #{configProperty,jdbcType=VARCHAR}, 
      #{defaultValue,jdbcType=VARCHAR}, #{configTemplate,jdbcType=VARCHAR}, #{updaettime,jdbcType=TIMESTAMP}, 
      #{createtime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.suntek.auto.operation.entity.AosComponentConfig">
    insert into AOS_COMPONENT_CONFIG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="componentId != null">
        COMPONENT_ID,
      </if>
      <if test="configProperty != null">
        CONFIG_PROPERTY,
      </if>
      <if test="defaultValue != null">
        DEFAULT_VALUE,
      </if>
      <if test="configTemplate != null">
        CONFIG_TEMPLATE,
      </if>
      <if test="updaettime != null">
        UPDAETTIME,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="componentId != null">
        #{componentId,jdbcType=VARCHAR},
      </if>
      <if test="configProperty != null">
        #{configProperty,jdbcType=VARCHAR},
      </if>
      <if test="defaultValue != null">
        #{defaultValue,jdbcType=VARCHAR},
      </if>
      <if test="configTemplate != null">
        #{configTemplate,jdbcType=VARCHAR},
      </if>
      <if test="updaettime != null">
        #{updaettime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.suntek.auto.operation.entity.AosComponentConfig">
    update AOS_COMPONENT_CONFIG
    <set>
      <if test="componentId != null">
        COMPONENT_ID = #{componentId,jdbcType=VARCHAR},
      </if>
      <if test="configProperty != null">
        CONFIG_PROPERTY = #{configProperty,jdbcType=VARCHAR},
      </if>
      <if test="defaultValue != null">
        DEFAULT_VALUE = #{defaultValue,jdbcType=VARCHAR},
      </if>
      <if test="configTemplate != null">
        CONFIG_TEMPLATE = #{configTemplate,jdbcType=VARCHAR},
      </if>
      <if test="updaettime != null">
        UPDAETTIME = #{updaettime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.suntek.auto.operation.entity.AosComponentConfig">
    update AOS_COMPONENT_CONFIG
    set COMPONENT_ID = #{componentId,jdbcType=VARCHAR},
      CONFIG_PROPERTY = #{configProperty,jdbcType=VARCHAR},
      DEFAULT_VALUE = #{defaultValue,jdbcType=VARCHAR},
      CONFIG_TEMPLATE = #{configTemplate,jdbcType=VARCHAR},
      UPDAETTIME = #{updaettime,jdbcType=TIMESTAMP},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>