<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multiple.datasource.dao1.mapper.GrayreleaseruleMapper">
  <resultMap id="BaseResultMap" type="com.multiple.datasource.dao1.entity.Grayreleaserule">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="AppId" jdbcType="VARCHAR" property="appid" />
    <result column="ClusterName" jdbcType="VARCHAR" property="clustername" />
    <result column="NamespaceName" jdbcType="VARCHAR" property="namespacename" />
    <result column="BranchName" jdbcType="VARCHAR" property="branchname" />
    <result column="Rules" jdbcType="VARCHAR" property="rules" />
    <result column="ReleaseId" jdbcType="INTEGER" property="releaseid" />
    <result column="BranchStatus" jdbcType="TINYINT" property="branchstatus" />
    <result column="IsDeleted" jdbcType="BIT" property="isdeleted" />
    <result column="DataChange_CreatedBy" jdbcType="VARCHAR" property="datachangeCreatedby" />
    <result column="DataChange_CreatedTime" jdbcType="TIMESTAMP" property="datachangeCreatedtime" />
    <result column="DataChange_LastModifiedBy" jdbcType="VARCHAR" property="datachangeLastmodifiedby" />
    <result column="DataChange_LastTime" jdbcType="TIMESTAMP" property="datachangeLasttime" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, AppId, ClusterName, NamespaceName, BranchName, Rules, ReleaseId, BranchStatus, 
    IsDeleted, DataChange_CreatedBy, DataChange_CreatedTime, DataChange_LastModifiedBy, 
    DataChange_LastTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from GrayReleaseRule
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from GrayReleaseRule
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.multiple.datasource.dao1.entity.Grayreleaserule">
    insert into GrayReleaseRule (Id, AppId, ClusterName, 
      NamespaceName, BranchName, Rules, 
      ReleaseId, BranchStatus, IsDeleted, 
      DataChange_CreatedBy, DataChange_CreatedTime, 
      DataChange_LastModifiedBy, DataChange_LastTime
      )
    values (#{id,jdbcType=INTEGER}, #{appid,jdbcType=VARCHAR}, #{clustername,jdbcType=VARCHAR}, 
      #{namespacename,jdbcType=VARCHAR}, #{branchname,jdbcType=VARCHAR}, #{rules,jdbcType=VARCHAR}, 
      #{releaseid,jdbcType=INTEGER}, #{branchstatus,jdbcType=TINYINT}, #{isdeleted,jdbcType=BIT}, 
      #{datachangeCreatedby,jdbcType=VARCHAR}, #{datachangeCreatedtime,jdbcType=TIMESTAMP}, 
      #{datachangeLastmodifiedby,jdbcType=VARCHAR}, #{datachangeLasttime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.multiple.datasource.dao1.entity.Grayreleaserule">
    insert into GrayReleaseRule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="appid != null">
        AppId,
      </if>
      <if test="clustername != null">
        ClusterName,
      </if>
      <if test="namespacename != null">
        NamespaceName,
      </if>
      <if test="branchname != null">
        BranchName,
      </if>
      <if test="rules != null">
        Rules,
      </if>
      <if test="releaseid != null">
        ReleaseId,
      </if>
      <if test="branchstatus != null">
        BranchStatus,
      </if>
      <if test="isdeleted != null">
        IsDeleted,
      </if>
      <if test="datachangeCreatedby != null">
        DataChange_CreatedBy,
      </if>
      <if test="datachangeCreatedtime != null">
        DataChange_CreatedTime,
      </if>
      <if test="datachangeLastmodifiedby != null">
        DataChange_LastModifiedBy,
      </if>
      <if test="datachangeLasttime != null">
        DataChange_LastTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="appid != null">
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="clustername != null">
        #{clustername,jdbcType=VARCHAR},
      </if>
      <if test="namespacename != null">
        #{namespacename,jdbcType=VARCHAR},
      </if>
      <if test="branchname != null">
        #{branchname,jdbcType=VARCHAR},
      </if>
      <if test="rules != null">
        #{rules,jdbcType=VARCHAR},
      </if>
      <if test="releaseid != null">
        #{releaseid,jdbcType=INTEGER},
      </if>
      <if test="branchstatus != null">
        #{branchstatus,jdbcType=TINYINT},
      </if>
      <if test="isdeleted != null">
        #{isdeleted,jdbcType=BIT},
      </if>
      <if test="datachangeCreatedby != null">
        #{datachangeCreatedby,jdbcType=VARCHAR},
      </if>
      <if test="datachangeCreatedtime != null">
        #{datachangeCreatedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLastmodifiedby != null">
        #{datachangeLastmodifiedby,jdbcType=VARCHAR},
      </if>
      <if test="datachangeLasttime != null">
        #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.multiple.datasource.dao1.entity.Grayreleaserule">
    update GrayReleaseRule
    <set>
      <if test="appid != null">
        AppId = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="clustername != null">
        ClusterName = #{clustername,jdbcType=VARCHAR},
      </if>
      <if test="namespacename != null">
        NamespaceName = #{namespacename,jdbcType=VARCHAR},
      </if>
      <if test="branchname != null">
        BranchName = #{branchname,jdbcType=VARCHAR},
      </if>
      <if test="rules != null">
        Rules = #{rules,jdbcType=VARCHAR},
      </if>
      <if test="releaseid != null">
        ReleaseId = #{releaseid,jdbcType=INTEGER},
      </if>
      <if test="branchstatus != null">
        BranchStatus = #{branchstatus,jdbcType=TINYINT},
      </if>
      <if test="isdeleted != null">
        IsDeleted = #{isdeleted,jdbcType=BIT},
      </if>
      <if test="datachangeCreatedby != null">
        DataChange_CreatedBy = #{datachangeCreatedby,jdbcType=VARCHAR},
      </if>
      <if test="datachangeCreatedtime != null">
        DataChange_CreatedTime = #{datachangeCreatedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLastmodifiedby != null">
        DataChange_LastModifiedBy = #{datachangeLastmodifiedby,jdbcType=VARCHAR},
      </if>
      <if test="datachangeLasttime != null">
        DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.multiple.datasource.dao1.entity.Grayreleaserule">
    update GrayReleaseRule
    set AppId = #{appid,jdbcType=VARCHAR},
      ClusterName = #{clustername,jdbcType=VARCHAR},
      NamespaceName = #{namespacename,jdbcType=VARCHAR},
      BranchName = #{branchname,jdbcType=VARCHAR},
      Rules = #{rules,jdbcType=VARCHAR},
      ReleaseId = #{releaseid,jdbcType=INTEGER},
      BranchStatus = #{branchstatus,jdbcType=TINYINT},
      IsDeleted = #{isdeleted,jdbcType=BIT},
      DataChange_CreatedBy = #{datachangeCreatedby,jdbcType=VARCHAR},
      DataChange_CreatedTime = #{datachangeCreatedtime,jdbcType=TIMESTAMP},
      DataChange_LastModifiedBy = #{datachangeLastmodifiedby,jdbcType=VARCHAR},
      DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>