<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multiple.datasource.dao1.mapper.InstanceMapper">
  <resultMap id="BaseResultMap" type="com.multiple.datasource.dao1.entity.Instance">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="AppId" jdbcType="VARCHAR" property="appid" />
    <result column="ClusterName" jdbcType="VARCHAR" property="clustername" />
    <result column="DataCenter" jdbcType="VARCHAR" property="datacenter" />
    <result column="Ip" jdbcType="VARCHAR" property="ip" />
    <result column="DataChange_CreatedTime" jdbcType="TIMESTAMP" property="datachangeCreatedtime" />
    <result column="DataChange_LastTime" jdbcType="TIMESTAMP" property="datachangeLasttime" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, AppId, ClusterName, DataCenter, Ip, DataChange_CreatedTime, DataChange_LastTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from Instance
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from Instance
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.multiple.datasource.dao1.entity.Instance">
    insert into Instance (Id, AppId, ClusterName, 
      DataCenter, Ip, DataChange_CreatedTime, 
      DataChange_LastTime)
    values (#{id,jdbcType=INTEGER}, #{appid,jdbcType=VARCHAR}, #{clustername,jdbcType=VARCHAR}, 
      #{datacenter,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{datachangeCreatedtime,jdbcType=TIMESTAMP}, 
      #{datachangeLasttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.multiple.datasource.dao1.entity.Instance">
    insert into Instance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="appid != null">
        AppId,
      </if>
      <if test="clustername != null">
        ClusterName,
      </if>
      <if test="datacenter != null">
        DataCenter,
      </if>
      <if test="ip != null">
        Ip,
      </if>
      <if test="datachangeCreatedtime != null">
        DataChange_CreatedTime,
      </if>
      <if test="datachangeLasttime != null">
        DataChange_LastTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="appid != null">
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="clustername != null">
        #{clustername,jdbcType=VARCHAR},
      </if>
      <if test="datacenter != null">
        #{datacenter,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="datachangeCreatedtime != null">
        #{datachangeCreatedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLasttime != null">
        #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.multiple.datasource.dao1.entity.Instance">
    update Instance
    <set>
      <if test="appid != null">
        AppId = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="clustername != null">
        ClusterName = #{clustername,jdbcType=VARCHAR},
      </if>
      <if test="datacenter != null">
        DataCenter = #{datacenter,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        Ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="datachangeCreatedtime != null">
        DataChange_CreatedTime = #{datachangeCreatedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLasttime != null">
        DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.multiple.datasource.dao1.entity.Instance">
    update Instance
    set AppId = #{appid,jdbcType=VARCHAR},
      ClusterName = #{clustername,jdbcType=VARCHAR},
      DataCenter = #{datacenter,jdbcType=VARCHAR},
      Ip = #{ip,jdbcType=VARCHAR},
      DataChange_CreatedTime = #{datachangeCreatedtime,jdbcType=TIMESTAMP},
      DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>