<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suntek.auto.operation.mapper.AosTpSystemMapper">
  <resultMap id="BaseResultMap" type="com.suntek.auto.operation.entity.AosTpSystem">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="SYSTEM_NAME" jdbcType="VARCHAR" property="systemName" />
    <result column="MANUFACTURER" jdbcType="VARCHAR" property="manufacturer" />
    <result column="UPDAETTIME" jdbcType="TIMESTAMP" property="updaettime" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, SYSTEM_NAME, MANUFACTURER, UPDAETTIME, CREATETIME, REMARK
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from AOS_TP_SYSTEM
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from AOS_TP_SYSTEM
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.suntek.auto.operation.entity.AosTpSystem">
    insert into AOS_TP_SYSTEM (ID, SYSTEM_NAME, MANUFACTURER, 
      UPDAETTIME, CREATETIME, REMARK
      )
    values (#{id,jdbcType=INTEGER}, #{systemName,jdbcType=VARCHAR}, #{manufacturer,jdbcType=VARCHAR}, 
      #{updaettime,jdbcType=TIMESTAMP}, #{createtime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.suntek.auto.operation.entity.AosTpSystem">
    insert into AOS_TP_SYSTEM
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="systemName != null">
        SYSTEM_NAME,
      </if>
      <if test="manufacturer != null">
        MANUFACTURER,
      </if>
      <if test="updaettime != null">
        UPDAETTIME,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="systemName != null">
        #{systemName,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null">
        #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="updaettime != null">
        #{updaettime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.suntek.auto.operation.entity.AosTpSystem">
    update AOS_TP_SYSTEM
    <set>
      <if test="systemName != null">
        SYSTEM_NAME = #{systemName,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null">
        MANUFACTURER = #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="updaettime != null">
        UPDAETTIME = #{updaettime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.suntek.auto.operation.entity.AosTpSystem">
    update AOS_TP_SYSTEM
    set SYSTEM_NAME = #{systemName,jdbcType=VARCHAR},
      MANUFACTURER = #{manufacturer,jdbcType=VARCHAR},
      UPDAETTIME = #{updaettime,jdbcType=TIMESTAMP},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>