<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://172.18.40.165:5432/akxt340</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <mapping class="com.hibernate.generator.entity.TKwSsfjmh"/>
    <mapping resource="com/hibernate/generator/entity/TKwSsfjmh.hbm.xml"/>

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>