<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.springcloud.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.demo.springcloud.entity.User">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="dept_id" jdbcType="INTEGER" property="deptId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
    </resultMap>
    <insert id="insert" parameterType="com.demo.springcloud.entity.User">
        insert into t_user (id, username, age)
        values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.demo.springcloud.entity.User">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="age != null">
                age,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <insert id="batchInsert" parameterType="com.demo.springcloud.entity.User">
        INSERT INTO t_user
        (
        id, dept_id, username, age
        )
        VALUES
        <foreach collection="userList" item="user" separator=",">
        (
        #{user.id}, #{user.deptId}, #{user.username}, #{user.age}
        )
        </foreach>
    </insert>

    <select id="listUserByAge" parameterType="int" resultType="com.demo.springcloud.entity.User">
        select *
        from t_user
        where age = #{age}
    </select>


</mapper>