[Unit]
Description=ivsp-msg
After=network-online.target 
Wants=network-online.target

[Service]
User=root
Type=forking
WorkingDirectory=/opt/video/ivsp-msg
ExecStart=/bin/bash -c "source /etc/profile && source /opt/video/.ivsp-msg.env && /bin/sh /opt/video/ivsp-msg/bin/run.sh start"
ExecStop=/bin/bash -c "source /etc/profile && source /opt/video/.ivsp-msg.env && /bin/sh /opt/video/ivsp-msg/bin/run.sh stop"
ExecStartPost=/usr/bin/sleep 5
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
