[Unit]
Description=nacos-server
After=network.target

[Service]
User=root
Type=forking
ExecStart=/bin/bash -c "source /etc/profile; /opt/svr/nacos-server/nacos/bin/startup.sh -m standalone"
ExecStop=/bin/bash -c "source /etc/profile; /opt/svr/nacos-server/nacos/bin/shutdown.sh"
Restart=always

[Install]
WantedBy=multi-user.target
