[Unit]
Description=video-application-service
After=network-online.target 
Wants=network-online.target

[Service]
User=root
Type=forking
WorkingDirectory=/opt/video/video-application-service
ExecStart=/bin/bash -c "source /etc/profile && source /opt/video/.video-application-service.env && /bin/sh /opt/video/video-application-service/bin/run.sh start"
ExecStop=/bin/bash -c "source /etc/profile && source /opt/video/.video-application-service.env && /bin/sh /opt/video/video-application-service/bin/run.sh stop"
ExecStartPost=/usr/bin/sleep 5
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
