<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mybatis.mapper.TSysRoleMapper">
  <resultMap id="BaseResultMap" type="com.model.mybatis.TSysRole" >
    <id column="n_id" property="nId" jdbcType="NUMERIC" />
    <result column="n_valid" property="nValid" jdbcType="NUMERIC" />
    <result column="c_description" property="cDescription" jdbcType="VARCHAR" />
    <result column="c_role" property="cRole" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    n_id, n_valid, c_description, c_role
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_role
    where n_id = #{nId,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_sys_role
    where n_id = #{nId,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.model.mybatis.TSysRole" >
    insert into t_sys_role (n_id, n_valid, c_description, 
      c_role)
    values (#{nId,jdbcType=NUMERIC}, #{nValid,jdbcType=NUMERIC}, #{cDescription,jdbcType=VARCHAR}, 
      #{cRole,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.model.mybatis.TSysRole" >
    insert into t_sys_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="nId != null" >
        n_id,
      </if>
      <if test="nValid != null" >
        n_valid,
      </if>
      <if test="cDescription != null" >
        c_description,
      </if>
      <if test="cRole != null" >
        c_role,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="nId != null" >
        #{nId,jdbcType=NUMERIC},
      </if>
      <if test="nValid != null" >
        #{nValid,jdbcType=NUMERIC},
      </if>
      <if test="cDescription != null" >
        #{cDescription,jdbcType=VARCHAR},
      </if>
      <if test="cRole != null" >
        #{cRole,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.mybatis.TSysRole" >
    update t_sys_role
    <set >
      <if test="nValid != null" >
        n_valid = #{nValid,jdbcType=NUMERIC},
      </if>
      <if test="cDescription != null" >
        c_description = #{cDescription,jdbcType=VARCHAR},
      </if>
      <if test="cRole != null" >
        c_role = #{cRole,jdbcType=VARCHAR},
      </if>
    </set>
    where n_id = #{nId,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.mybatis.TSysRole" >
    update t_sys_role
    set n_valid = #{nValid,jdbcType=NUMERIC},
      c_description = #{cDescription,jdbcType=VARCHAR},
      c_role = #{cRole,jdbcType=VARCHAR}
    where n_id = #{nId,jdbcType=NUMERIC}
  </update>
</mapper>