<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mybatis.mapper.TSysUserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.model.mybatis.TSysUserRole" >
    <result column="n_role_id" property="nRoleId" jdbcType="NUMERIC" />
    <result column="c_user_id" property="cUserId" jdbcType="NUMERIC" />
  </resultMap>
  <insert id="insert" parameterType="com.model.mybatis.TSysUserRole" >
    insert into t_sys_user_role (n_role_id, c_user_id)
    values (#{nRoleId,jdbcType=NUMERIC}, #{cUserId,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="com.model.mybatis.TSysUserRole" >
    insert into t_sys_user_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="nRoleId != null" >
        n_role_id,
      </if>
      <if test="cUserId != null" >
        c_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="nRoleId != null" >
        #{nRoleId,jdbcType=NUMERIC},
      </if>
      <if test="cUserId != null" >
        #{cUserId,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
</mapper>