<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!--数据库连接url配置-->
    <property name="connection.url">jdbc:postgresql://192.168.83.136:5432/sd</property>
    <!--数据库驱动配置-->
    <property name="connection.driver_class">org.postgresql.Driver</property>
      <!--数据库用户名配置-->
    <!--数据库密码配置-->
    <mapping class="com.model.hibernate.TSysPermissionEntity"/>
    <mapping resource="com/model/hibernate/TSysPermissionEntity.hbm.xml"/>
    <mapping class="com.model.hibernate.TSysRoleEntity"/>
    <mapping resource="com/model/hibernate/TSysRoleEntity.hbm.xml"/>
    <mapping class="com.model.hibernate.TSysRolePermissionEntity"/>
    <mapping resource="com/model/hibernate/TSysRolePermissionEntity.hbm.xml"/>
    <mapping class="com.model.hibernate.TSysUserRoleEntity"/>
    <mapping resource="com/model/hibernate/TSysUserRoleEntity.hbm.xml"/>
    <mapping class="com.model.hibernate.TUserEntity"/>
    <mapping resource="com/model/hibernate/TUserEntity.hbm.xml"/>
    <mapping class="com.model.hibernate.TSysPermission"/>
    <mapping class="com.model.hibernate.TSysRole"/>
    <mapping class="com.model.hibernate.TSysRolePermission"/>
    <mapping class="com.model.hibernate.TSysUserRole"/>
    <mapping class="com.model.hibernate.TUser"/>

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>