[Unit]
Description=Kibana
StartLimitIntervalSec=30
StartLimitBurst=3

[Service]
Type=simple
User=kibana
Group=kibana
# Load env vars from /etc/default/ and /etc/sysconfig/ if they exist.
# Prefixing the path with '-' makes it try to load, but if the file doesn't
# exist, it continues onward.
# EnvironmentFile=-/etc/default/kibana
# EnvironmentFile=-/etc/sysconfig/kibana
ExecStart={{ install_dir }}/bin/kibana "-c {{ install_dir }}/config/kibana.yml" > /opt/kibana-7.17.20/logs/kibana.log 2>&1
Restart=always
WorkingDirectory=/

[Install]
WantedBy=multi-user.target
