<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multiple.datasource.dao1.mapper.ItemMapper">
  <resultMap id="BaseResultMap" type="com.multiple.datasource.dao1.entity.Item">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="NamespaceId" jdbcType="INTEGER" property="namespaceid" />
    <result column="Key" jdbcType="VARCHAR" property="key" />
    <result column="Comment" jdbcType="VARCHAR" property="comment" />
    <result column="LineNum" jdbcType="INTEGER" property="linenum" />
    <result column="IsDeleted" jdbcType="BIT" property="isdeleted" />
    <result column="DataChange_CreatedBy" jdbcType="VARCHAR" property="datachangeCreatedby" />
    <result column="DataChange_CreatedTime" jdbcType="TIMESTAMP" property="datachangeCreatedtime" />
    <result column="DataChange_LastModifiedBy" jdbcType="VARCHAR" property="datachangeLastmodifiedby" />
    <result column="DataChange_LastTime" jdbcType="TIMESTAMP" property="datachangeLasttime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.multiple.datasource.dao1.entity.Item">
    <result column="Value" jdbcType="LONGVARCHAR" property="value" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, NamespaceId, Key, Comment, LineNum, IsDeleted, DataChange_CreatedBy, DataChange_CreatedTime, 
    DataChange_LastModifiedBy, DataChange_LastTime
  </sql>
  <sql id="Blob_Column_List">
    Value
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from Item
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from Item
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.multiple.datasource.dao1.entity.Item">
    insert into Item (Id, NamespaceId, Key, 
      Comment, LineNum, IsDeleted, 
      DataChange_CreatedBy, DataChange_CreatedTime, 
      DataChange_LastModifiedBy, DataChange_LastTime, 
      Value)
    values (#{id,jdbcType=INTEGER}, #{namespaceid,jdbcType=INTEGER}, #{key,jdbcType=VARCHAR}, 
      #{comment,jdbcType=VARCHAR}, #{linenum,jdbcType=INTEGER}, #{isdeleted,jdbcType=BIT}, 
      #{datachangeCreatedby,jdbcType=VARCHAR}, #{datachangeCreatedtime,jdbcType=TIMESTAMP}, 
      #{datachangeLastmodifiedby,jdbcType=VARCHAR}, #{datachangeLasttime,jdbcType=TIMESTAMP}, 
      #{value,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.multiple.datasource.dao1.entity.Item">
    insert into Item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="namespaceid != null">
        NamespaceId,
      </if>
      <if test="key != null">
        Key,
      </if>
      <if test="comment != null">
        Comment,
      </if>
      <if test="linenum != null">
        LineNum,
      </if>
      <if test="isdeleted != null">
        IsDeleted,
      </if>
      <if test="datachangeCreatedby != null">
        DataChange_CreatedBy,
      </if>
      <if test="datachangeCreatedtime != null">
        DataChange_CreatedTime,
      </if>
      <if test="datachangeLastmodifiedby != null">
        DataChange_LastModifiedBy,
      </if>
      <if test="datachangeLasttime != null">
        DataChange_LastTime,
      </if>
      <if test="value != null">
        Value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="namespaceid != null">
        #{namespaceid,jdbcType=INTEGER},
      </if>
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="linenum != null">
        #{linenum,jdbcType=INTEGER},
      </if>
      <if test="isdeleted != null">
        #{isdeleted,jdbcType=BIT},
      </if>
      <if test="datachangeCreatedby != null">
        #{datachangeCreatedby,jdbcType=VARCHAR},
      </if>
      <if test="datachangeCreatedtime != null">
        #{datachangeCreatedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLastmodifiedby != null">
        #{datachangeLastmodifiedby,jdbcType=VARCHAR},
      </if>
      <if test="datachangeLasttime != null">
        #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
      <if test="value != null">
        #{value,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.multiple.datasource.dao1.entity.Item">
    update Item
    <set>
      <if test="namespaceid != null">
        NamespaceId = #{namespaceid,jdbcType=INTEGER},
      </if>
      <if test="key != null">
        Key = #{key,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        Comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="linenum != null">
        LineNum = #{linenum,jdbcType=INTEGER},
      </if>
      <if test="isdeleted != null">
        IsDeleted = #{isdeleted,jdbcType=BIT},
      </if>
      <if test="datachangeCreatedby != null">
        DataChange_CreatedBy = #{datachangeCreatedby,jdbcType=VARCHAR},
      </if>
      <if test="datachangeCreatedtime != null">
        DataChange_CreatedTime = #{datachangeCreatedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLastmodifiedby != null">
        DataChange_LastModifiedBy = #{datachangeLastmodifiedby,jdbcType=VARCHAR},
      </if>
      <if test="datachangeLasttime != null">
        DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
      <if test="value != null">
        Value = #{value,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.multiple.datasource.dao1.entity.Item">
    update Item
    set NamespaceId = #{namespaceid,jdbcType=INTEGER},
      Key = #{key,jdbcType=VARCHAR},
      Comment = #{comment,jdbcType=VARCHAR},
      LineNum = #{linenum,jdbcType=INTEGER},
      IsDeleted = #{isdeleted,jdbcType=BIT},
      DataChange_CreatedBy = #{datachangeCreatedby,jdbcType=VARCHAR},
      DataChange_CreatedTime = #{datachangeCreatedtime,jdbcType=TIMESTAMP},
      DataChange_LastModifiedBy = #{datachangeLastmodifiedby,jdbcType=VARCHAR},
      DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP},
      Value = #{value,jdbcType=LONGVARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.multiple.datasource.dao1.entity.Item">
    update Item
    set NamespaceId = #{namespaceid,jdbcType=INTEGER},
      Key = #{key,jdbcType=VARCHAR},
      Comment = #{comment,jdbcType=VARCHAR},
      LineNum = #{linenum,jdbcType=INTEGER},
      IsDeleted = #{isdeleted,jdbcType=BIT},
      DataChange_CreatedBy = #{datachangeCreatedby,jdbcType=VARCHAR},
      DataChange_CreatedTime = #{datachangeCreatedtime,jdbcType=TIMESTAMP},
      DataChange_LastModifiedBy = #{datachangeLastmodifiedby,jdbcType=VARCHAR},
      DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>