<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multiple.datasource.dao1.mapper.NamespacelockMapper">
  <resultMap id="BaseResultMap" type="com.multiple.datasource.dao1.entity.Namespacelock">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="NamespaceId" jdbcType="INTEGER" property="namespaceid" />
    <result column="DataChange_CreatedBy" jdbcType="VARCHAR" property="datachangeCreatedby" />
    <result column="DataChange_CreatedTime" jdbcType="TIMESTAMP" property="datachangeCreatedtime" />
    <result column="DataChange_LastModifiedBy" jdbcType="VARCHAR" property="datachangeLastmodifiedby" />
    <result column="DataChange_LastTime" jdbcType="TIMESTAMP" property="datachangeLasttime" />
    <result column="IsDeleted" jdbcType="BIT" property="isdeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, NamespaceId, DataChange_CreatedBy, DataChange_CreatedTime, DataChange_LastModifiedBy, 
    DataChange_LastTime, IsDeleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from NamespaceLock
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from NamespaceLock
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.multiple.datasource.dao1.entity.Namespacelock">
    insert into NamespaceLock (Id, NamespaceId, DataChange_CreatedBy, 
      DataChange_CreatedTime, DataChange_LastModifiedBy, 
      DataChange_LastTime, IsDeleted)
    values (#{id,jdbcType=INTEGER}, #{namespaceid,jdbcType=INTEGER}, #{datachangeCreatedby,jdbcType=VARCHAR}, 
      #{datachangeCreatedtime,jdbcType=TIMESTAMP}, #{datachangeLastmodifiedby,jdbcType=VARCHAR}, 
      #{datachangeLasttime,jdbcType=TIMESTAMP}, #{isdeleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.multiple.datasource.dao1.entity.Namespacelock">
    insert into NamespaceLock
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="namespaceid != null">
        NamespaceId,
      </if>
      <if test="datachangeCreatedby != null">
        DataChange_CreatedBy,
      </if>
      <if test="datachangeCreatedtime != null">
        DataChange_CreatedTime,
      </if>
      <if test="datachangeLastmodifiedby != null">
        DataChange_LastModifiedBy,
      </if>
      <if test="datachangeLasttime != null">
        DataChange_LastTime,
      </if>
      <if test="isdeleted != null">
        IsDeleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="namespaceid != null">
        #{namespaceid,jdbcType=INTEGER},
      </if>
      <if test="datachangeCreatedby != null">
        #{datachangeCreatedby,jdbcType=VARCHAR},
      </if>
      <if test="datachangeCreatedtime != null">
        #{datachangeCreatedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLastmodifiedby != null">
        #{datachangeLastmodifiedby,jdbcType=VARCHAR},
      </if>
      <if test="datachangeLasttime != null">
        #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdeleted != null">
        #{isdeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.multiple.datasource.dao1.entity.Namespacelock">
    update NamespaceLock
    <set>
      <if test="namespaceid != null">
        NamespaceId = #{namespaceid,jdbcType=INTEGER},
      </if>
      <if test="datachangeCreatedby != null">
        DataChange_CreatedBy = #{datachangeCreatedby,jdbcType=VARCHAR},
      </if>
      <if test="datachangeCreatedtime != null">
        DataChange_CreatedTime = #{datachangeCreatedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLastmodifiedby != null">
        DataChange_LastModifiedBy = #{datachangeLastmodifiedby,jdbcType=VARCHAR},
      </if>
      <if test="datachangeLasttime != null">
        DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdeleted != null">
        IsDeleted = #{isdeleted,jdbcType=BIT},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.multiple.datasource.dao1.entity.Namespacelock">
    update NamespaceLock
    set NamespaceId = #{namespaceid,jdbcType=INTEGER},
      DataChange_CreatedBy = #{datachangeCreatedby,jdbcType=VARCHAR},
      DataChange_CreatedTime = #{datachangeCreatedtime,jdbcType=TIMESTAMP},
      DataChange_LastModifiedBy = #{datachangeLastmodifiedby,jdbcType=VARCHAR},
      DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP},
      IsDeleted = #{isdeleted,jdbcType=BIT}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>