<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multiple.datasource.dao1.mapper.ReleaseMapper">
  <resultMap id="BaseResultMap" type="com.multiple.datasource.dao1.entity.Release">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="ReleaseKey" jdbcType="VARCHAR" property="releasekey" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="Comment" jdbcType="VARCHAR" property="comment" />
    <result column="AppId" jdbcType="VARCHAR" property="appid" />
    <result column="ClusterName" jdbcType="VARCHAR" property="clustername" />
    <result column="NamespaceName" jdbcType="VARCHAR" property="namespacename" />
    <result column="IsAbandoned" jdbcType="BIT" property="isabandoned" />
    <result column="IsDeleted" jdbcType="BIT" property="isdeleted" />
    <result column="DataChange_CreatedBy" jdbcType="VARCHAR" property="datachangeCreatedby" />
    <result column="DataChange_CreatedTime" jdbcType="TIMESTAMP" property="datachangeCreatedtime" />
    <result column="DataChange_LastModifiedBy" jdbcType="VARCHAR" property="datachangeLastmodifiedby" />
    <result column="DataChange_LastTime" jdbcType="TIMESTAMP" property="datachangeLasttime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.multiple.datasource.dao1.entity.Release">
    <result column="Configurations" jdbcType="LONGVARCHAR" property="configurations" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, ReleaseKey, Name, Comment, AppId, ClusterName, NamespaceName, IsAbandoned, IsDeleted, 
    DataChange_CreatedBy, DataChange_CreatedTime, DataChange_LastModifiedBy, DataChange_LastTime
  </sql>
  <sql id="Blob_Column_List">
    Configurations
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from Release
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from Release
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.multiple.datasource.dao1.entity.Release">
    insert into Release (Id, ReleaseKey, Name, 
      Comment, AppId, ClusterName, 
      NamespaceName, IsAbandoned, IsDeleted, 
      DataChange_CreatedBy, DataChange_CreatedTime, 
      DataChange_LastModifiedBy, DataChange_LastTime, 
      Configurations)
    values (#{id,jdbcType=INTEGER}, #{releasekey,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{comment,jdbcType=VARCHAR}, #{appid,jdbcType=VARCHAR}, #{clustername,jdbcType=VARCHAR}, 
      #{namespacename,jdbcType=VARCHAR}, #{isabandoned,jdbcType=BIT}, #{isdeleted,jdbcType=BIT}, 
      #{datachangeCreatedby,jdbcType=VARCHAR}, #{datachangeCreatedtime,jdbcType=TIMESTAMP}, 
      #{datachangeLastmodifiedby,jdbcType=VARCHAR}, #{datachangeLasttime,jdbcType=TIMESTAMP}, 
      #{configurations,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.multiple.datasource.dao1.entity.Release">
    insert into Release
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="releasekey != null">
        ReleaseKey,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="comment != null">
        Comment,
      </if>
      <if test="appid != null">
        AppId,
      </if>
      <if test="clustername != null">
        ClusterName,
      </if>
      <if test="namespacename != null">
        NamespaceName,
      </if>
      <if test="isabandoned != null">
        IsAbandoned,
      </if>
      <if test="isdeleted != null">
        IsDeleted,
      </if>
      <if test="datachangeCreatedby != null">
        DataChange_CreatedBy,
      </if>
      <if test="datachangeCreatedtime != null">
        DataChange_CreatedTime,
      </if>
      <if test="datachangeLastmodifiedby != null">
        DataChange_LastModifiedBy,
      </if>
      <if test="datachangeLasttime != null">
        DataChange_LastTime,
      </if>
      <if test="configurations != null">
        Configurations,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="releasekey != null">
        #{releasekey,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="appid != null">
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="clustername != null">
        #{clustername,jdbcType=VARCHAR},
      </if>
      <if test="namespacename != null">
        #{namespacename,jdbcType=VARCHAR},
      </if>
      <if test="isabandoned != null">
        #{isabandoned,jdbcType=BIT},
      </if>
      <if test="isdeleted != null">
        #{isdeleted,jdbcType=BIT},
      </if>
      <if test="datachangeCreatedby != null">
        #{datachangeCreatedby,jdbcType=VARCHAR},
      </if>
      <if test="datachangeCreatedtime != null">
        #{datachangeCreatedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLastmodifiedby != null">
        #{datachangeLastmodifiedby,jdbcType=VARCHAR},
      </if>
      <if test="datachangeLasttime != null">
        #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
      <if test="configurations != null">
        #{configurations,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.multiple.datasource.dao1.entity.Release">
    update Release
    <set>
      <if test="releasekey != null">
        ReleaseKey = #{releasekey,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        Comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="appid != null">
        AppId = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="clustername != null">
        ClusterName = #{clustername,jdbcType=VARCHAR},
      </if>
      <if test="namespacename != null">
        NamespaceName = #{namespacename,jdbcType=VARCHAR},
      </if>
      <if test="isabandoned != null">
        IsAbandoned = #{isabandoned,jdbcType=BIT},
      </if>
      <if test="isdeleted != null">
        IsDeleted = #{isdeleted,jdbcType=BIT},
      </if>
      <if test="datachangeCreatedby != null">
        DataChange_CreatedBy = #{datachangeCreatedby,jdbcType=VARCHAR},
      </if>
      <if test="datachangeCreatedtime != null">
        DataChange_CreatedTime = #{datachangeCreatedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLastmodifiedby != null">
        DataChange_LastModifiedBy = #{datachangeLastmodifiedby,jdbcType=VARCHAR},
      </if>
      <if test="datachangeLasttime != null">
        DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
      <if test="configurations != null">
        Configurations = #{configurations,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.multiple.datasource.dao1.entity.Release">
    update Release
    set ReleaseKey = #{releasekey,jdbcType=VARCHAR},
      Name = #{name,jdbcType=VARCHAR},
      Comment = #{comment,jdbcType=VARCHAR},
      AppId = #{appid,jdbcType=VARCHAR},
      ClusterName = #{clustername,jdbcType=VARCHAR},
      NamespaceName = #{namespacename,jdbcType=VARCHAR},
      IsAbandoned = #{isabandoned,jdbcType=BIT},
      IsDeleted = #{isdeleted,jdbcType=BIT},
      DataChange_CreatedBy = #{datachangeCreatedby,jdbcType=VARCHAR},
      DataChange_CreatedTime = #{datachangeCreatedtime,jdbcType=TIMESTAMP},
      DataChange_LastModifiedBy = #{datachangeLastmodifiedby,jdbcType=VARCHAR},
      DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP},
      Configurations = #{configurations,jdbcType=LONGVARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.multiple.datasource.dao1.entity.Release">
    update Release
    set ReleaseKey = #{releasekey,jdbcType=VARCHAR},
      Name = #{name,jdbcType=VARCHAR},
      Comment = #{comment,jdbcType=VARCHAR},
      AppId = #{appid,jdbcType=VARCHAR},
      ClusterName = #{clustername,jdbcType=VARCHAR},
      NamespaceName = #{namespacename,jdbcType=VARCHAR},
      IsAbandoned = #{isabandoned,jdbcType=BIT},
      IsDeleted = #{isdeleted,jdbcType=BIT},
      DataChange_CreatedBy = #{datachangeCreatedby,jdbcType=VARCHAR},
      DataChange_CreatedTime = #{datachangeCreatedtime,jdbcType=TIMESTAMP},
      DataChange_LastModifiedBy = #{datachangeLastmodifiedby,jdbcType=VARCHAR},
      DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>