<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multiple.datasource.dao1.mapper.CommitMapper">
  <resultMap id="BaseResultMap" type="com.multiple.datasource.dao1.entity.Commit">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="AppId" jdbcType="VARCHAR" property="appid" />
    <result column="ClusterName" jdbcType="VARCHAR" property="clustername" />
    <result column="NamespaceName" jdbcType="VARCHAR" property="namespacename" />
    <result column="Comment" jdbcType="VARCHAR" property="comment" />
    <result column="IsDeleted" jdbcType="BIT" property="isdeleted" />
    <result column="DataChange_CreatedBy" jdbcType="VARCHAR" property="datachangeCreatedby" />
    <result column="DataChange_CreatedTime" jdbcType="TIMESTAMP" property="datachangeCreatedtime" />
    <result column="DataChange_LastModifiedBy" jdbcType="VARCHAR" property="datachangeLastmodifiedby" />
    <result column="DataChange_LastTime" jdbcType="TIMESTAMP" property="datachangeLasttime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.multiple.datasource.dao1.entity.Commit">
    <result column="ChangeSets" jdbcType="LONGVARCHAR" property="changesets" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, AppId, ClusterName, NamespaceName, Comment, IsDeleted, DataChange_CreatedBy, 
    DataChange_CreatedTime, DataChange_LastModifiedBy, DataChange_LastTime
  </sql>
  <sql id="Blob_Column_List">
    ChangeSets
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from Commit
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from Commit
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.multiple.datasource.dao1.entity.Commit">
    insert into Commit (Id, AppId, ClusterName, 
      NamespaceName, Comment, IsDeleted, 
      DataChange_CreatedBy, DataChange_CreatedTime, 
      DataChange_LastModifiedBy, DataChange_LastTime, 
      ChangeSets)
    values (#{id,jdbcType=INTEGER}, #{appid,jdbcType=VARCHAR}, #{clustername,jdbcType=VARCHAR}, 
      #{namespacename,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, #{isdeleted,jdbcType=BIT}, 
      #{datachangeCreatedby,jdbcType=VARCHAR}, #{datachangeCreatedtime,jdbcType=TIMESTAMP}, 
      #{datachangeLastmodifiedby,jdbcType=VARCHAR}, #{datachangeLasttime,jdbcType=TIMESTAMP}, 
      #{changesets,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.multiple.datasource.dao1.entity.Commit">
    insert into Commit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="appid != null">
        AppId,
      </if>
      <if test="clustername != null">
        ClusterName,
      </if>
      <if test="namespacename != null">
        NamespaceName,
      </if>
      <if test="comment != null">
        Comment,
      </if>
      <if test="isdeleted != null">
        IsDeleted,
      </if>
      <if test="datachangeCreatedby != null">
        DataChange_CreatedBy,
      </if>
      <if test="datachangeCreatedtime != null">
        DataChange_CreatedTime,
      </if>
      <if test="datachangeLastmodifiedby != null">
        DataChange_LastModifiedBy,
      </if>
      <if test="datachangeLasttime != null">
        DataChange_LastTime,
      </if>
      <if test="changesets != null">
        ChangeSets,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="appid != null">
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="clustername != null">
        #{clustername,jdbcType=VARCHAR},
      </if>
      <if test="namespacename != null">
        #{namespacename,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="isdeleted != null">
        #{isdeleted,jdbcType=BIT},
      </if>
      <if test="datachangeCreatedby != null">
        #{datachangeCreatedby,jdbcType=VARCHAR},
      </if>
      <if test="datachangeCreatedtime != null">
        #{datachangeCreatedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLastmodifiedby != null">
        #{datachangeLastmodifiedby,jdbcType=VARCHAR},
      </if>
      <if test="datachangeLasttime != null">
        #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
      <if test="changesets != null">
        #{changesets,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.multiple.datasource.dao1.entity.Commit">
    update Commit
    <set>
      <if test="appid != null">
        AppId = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="clustername != null">
        ClusterName = #{clustername,jdbcType=VARCHAR},
      </if>
      <if test="namespacename != null">
        NamespaceName = #{namespacename,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        Comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="isdeleted != null">
        IsDeleted = #{isdeleted,jdbcType=BIT},
      </if>
      <if test="datachangeCreatedby != null">
        DataChange_CreatedBy = #{datachangeCreatedby,jdbcType=VARCHAR},
      </if>
      <if test="datachangeCreatedtime != null">
        DataChange_CreatedTime = #{datachangeCreatedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLastmodifiedby != null">
        DataChange_LastModifiedBy = #{datachangeLastmodifiedby,jdbcType=VARCHAR},
      </if>
      <if test="datachangeLasttime != null">
        DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
      <if test="changesets != null">
        ChangeSets = #{changesets,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.multiple.datasource.dao1.entity.Commit">
    update Commit
    set AppId = #{appid,jdbcType=VARCHAR},
      ClusterName = #{clustername,jdbcType=VARCHAR},
      NamespaceName = #{namespacename,jdbcType=VARCHAR},
      Comment = #{comment,jdbcType=VARCHAR},
      IsDeleted = #{isdeleted,jdbcType=BIT},
      DataChange_CreatedBy = #{datachangeCreatedby,jdbcType=VARCHAR},
      DataChange_CreatedTime = #{datachangeCreatedtime,jdbcType=TIMESTAMP},
      DataChange_LastModifiedBy = #{datachangeLastmodifiedby,jdbcType=VARCHAR},
      DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP},
      ChangeSets = #{changesets,jdbcType=LONGVARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.multiple.datasource.dao1.entity.Commit">
    update Commit
    set AppId = #{appid,jdbcType=VARCHAR},
      ClusterName = #{clustername,jdbcType=VARCHAR},
      NamespaceName = #{namespacename,jdbcType=VARCHAR},
      Comment = #{comment,jdbcType=VARCHAR},
      IsDeleted = #{isdeleted,jdbcType=BIT},
      DataChange_CreatedBy = #{datachangeCreatedby,jdbcType=VARCHAR},
      DataChange_CreatedTime = #{datachangeCreatedtime,jdbcType=TIMESTAMP},
      DataChange_LastModifiedBy = #{datachangeLastmodifiedby,jdbcType=VARCHAR},
      DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>