<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multiple.datasource.dao1.mapper.InstanceconfigMapper">
  <resultMap id="BaseResultMap" type="com.multiple.datasource.dao1.entity.Instanceconfig">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="InstanceId" jdbcType="INTEGER" property="instanceid" />
    <result column="ConfigAppId" jdbcType="VARCHAR" property="configappid" />
    <result column="ConfigClusterName" jdbcType="VARCHAR" property="configclustername" />
    <result column="ConfigNamespaceName" jdbcType="VARCHAR" property="confignamespacename" />
    <result column="ReleaseKey" jdbcType="VARCHAR" property="releasekey" />
    <result column="ReleaseDeliveryTime" jdbcType="TIMESTAMP" property="releasedeliverytime" />
    <result column="DataChange_CreatedTime" jdbcType="TIMESTAMP" property="datachangeCreatedtime" />
    <result column="DataChange_LastTime" jdbcType="TIMESTAMP" property="datachangeLasttime" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, InstanceId, ConfigAppId, ConfigClusterName, ConfigNamespaceName, ReleaseKey, 
    ReleaseDeliveryTime, DataChange_CreatedTime, DataChange_LastTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from InstanceConfig
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from InstanceConfig
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.multiple.datasource.dao1.entity.Instanceconfig">
    insert into InstanceConfig (Id, InstanceId, ConfigAppId, 
      ConfigClusterName, ConfigNamespaceName, 
      ReleaseKey, ReleaseDeliveryTime, DataChange_CreatedTime, 
      DataChange_LastTime)
    values (#{id,jdbcType=INTEGER}, #{instanceid,jdbcType=INTEGER}, #{configappid,jdbcType=VARCHAR}, 
      #{configclustername,jdbcType=VARCHAR}, #{confignamespacename,jdbcType=VARCHAR}, 
      #{releasekey,jdbcType=VARCHAR}, #{releasedeliverytime,jdbcType=TIMESTAMP}, #{datachangeCreatedtime,jdbcType=TIMESTAMP}, 
      #{datachangeLasttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.multiple.datasource.dao1.entity.Instanceconfig">
    insert into InstanceConfig
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="instanceid != null">
        InstanceId,
      </if>
      <if test="configappid != null">
        ConfigAppId,
      </if>
      <if test="configclustername != null">
        ConfigClusterName,
      </if>
      <if test="confignamespacename != null">
        ConfigNamespaceName,
      </if>
      <if test="releasekey != null">
        ReleaseKey,
      </if>
      <if test="releasedeliverytime != null">
        ReleaseDeliveryTime,
      </if>
      <if test="datachangeCreatedtime != null">
        DataChange_CreatedTime,
      </if>
      <if test="datachangeLasttime != null">
        DataChange_LastTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="instanceid != null">
        #{instanceid,jdbcType=INTEGER},
      </if>
      <if test="configappid != null">
        #{configappid,jdbcType=VARCHAR},
      </if>
      <if test="configclustername != null">
        #{configclustername,jdbcType=VARCHAR},
      </if>
      <if test="confignamespacename != null">
        #{confignamespacename,jdbcType=VARCHAR},
      </if>
      <if test="releasekey != null">
        #{releasekey,jdbcType=VARCHAR},
      </if>
      <if test="releasedeliverytime != null">
        #{releasedeliverytime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeCreatedtime != null">
        #{datachangeCreatedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLasttime != null">
        #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.multiple.datasource.dao1.entity.Instanceconfig">
    update InstanceConfig
    <set>
      <if test="instanceid != null">
        InstanceId = #{instanceid,jdbcType=INTEGER},
      </if>
      <if test="configappid != null">
        ConfigAppId = #{configappid,jdbcType=VARCHAR},
      </if>
      <if test="configclustername != null">
        ConfigClusterName = #{configclustername,jdbcType=VARCHAR},
      </if>
      <if test="confignamespacename != null">
        ConfigNamespaceName = #{confignamespacename,jdbcType=VARCHAR},
      </if>
      <if test="releasekey != null">
        ReleaseKey = #{releasekey,jdbcType=VARCHAR},
      </if>
      <if test="releasedeliverytime != null">
        ReleaseDeliveryTime = #{releasedeliverytime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeCreatedtime != null">
        DataChange_CreatedTime = #{datachangeCreatedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="datachangeLasttime != null">
        DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.multiple.datasource.dao1.entity.Instanceconfig">
    update InstanceConfig
    set InstanceId = #{instanceid,jdbcType=INTEGER},
      ConfigAppId = #{configappid,jdbcType=VARCHAR},
      ConfigClusterName = #{configclustername,jdbcType=VARCHAR},
      ConfigNamespaceName = #{confignamespacename,jdbcType=VARCHAR},
      ReleaseKey = #{releasekey,jdbcType=VARCHAR},
      ReleaseDeliveryTime = #{releasedeliverytime,jdbcType=TIMESTAMP},
      DataChange_CreatedTime = #{datachangeCreatedtime,jdbcType=TIMESTAMP},
      DataChange_LastTime = #{datachangeLasttime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>