<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>统一登录综合管理平台</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/normalize.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/bootstrap-4.3.1-dist/css/bootstrap.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/style.css}">

</head>
<body class="bg-dark">
<script type="text/javascript" th:src="@{/assets/js/jquery-2.1.4.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/bootstrap-4.3.1-dist/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/main.js}"></script>
<div class="sufee-login d-flex align-content-center flex-wrap" >
    <div class="container">
        <div class="login-content">
            <div class="login-logo">
                <h1 style="color: #F6FCFD;">统一登录综合管理平台</h1>
            </div>
            <div class="login-form">
                <form th:action="@{/login}" method="post">
                    <div class="form-group">
                        <label style="color: #F6FCFD;">登录名称</label>
                        <input type="text" class="form-control" name="username" placeholder="请输入登录名称" style="color: #F6FCFD;background-color: #9FABDD;">
                    </div>
                    <div class="form-group">
                        <label style="color: #F6FCFD;">密码</label>
                        <input type="password" class="form-control" name="password" placeholder="请输入登录密码" style="color: #F6FCFD;background-color: #9FABDD;">
                        <span style="color: red" ></span>
                    </div>
                    <div class="checkbox">
                        <label style="color: #F6FCFD;">
                            <input type="checkbox"> 记住我
                        </label>
                        <label class="pull-right">
                            <a href="#">忘记密码</a>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30" style="font-size: 18px;background-color: #6988FC;">登录</button>
                    <p style="color: red" th:if="${param.error}" th:text="${session?.SPRING_SECURITY_LAST_EXCEPTION?.message}" ></p>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
