<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suntek.auto.operation.mapper.AosExecCommandMapper">
  <resultMap id="BaseResultMap" type="com.suntek.auto.operation.entity.AosExecCommand">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="COMPONENT_ID" jdbcType="INTEGER" property="componentId" />
    <result column="COMMAND" jdbcType="VARCHAR" property="command" />
    <result column="TYPE" jdbcType="TINYINT" property="type" />
    <result column="ORDERS" jdbcType="TINYINT" property="orders" />
    <result column="UPDAETTIME" jdbcType="TIMESTAMP" property="updaettime" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, COMPONENT_ID, COMMAND, TYPE, ORDERS, UPDAETTIME, CREATETIME, REMARK
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from AOS_EXEC_COMMAND
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from AOS_EXEC_COMMAND
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.suntek.auto.operation.entity.AosExecCommand">
    insert into AOS_EXEC_COMMAND (ID, COMPONENT_ID, COMMAND, 
      TYPE, ORDERS, UPDAETTIME, 
      CREATETIME, REMARK)
    values (#{id,jdbcType=INTEGER}, #{componentId,jdbcType=INTEGER}, #{command,jdbcType=VARCHAR}, 
      #{type,jdbcType=TINYINT}, #{orders,jdbcType=TINYINT}, #{updaettime,jdbcType=TIMESTAMP}, 
      #{createtime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.suntek.auto.operation.entity.AosExecCommand">
    insert into AOS_EXEC_COMMAND
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="componentId != null">
        COMPONENT_ID,
      </if>
      <if test="command != null">
        COMMAND,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="orders != null">
        ORDERS,
      </if>
      <if test="updaettime != null">
        UPDAETTIME,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="componentId != null">
        #{componentId,jdbcType=INTEGER},
      </if>
      <if test="command != null">
        #{command,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="orders != null">
        #{orders,jdbcType=TINYINT},
      </if>
      <if test="updaettime != null">
        #{updaettime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.suntek.auto.operation.entity.AosExecCommand">
    update AOS_EXEC_COMMAND
    <set>
      <if test="componentId != null">
        COMPONENT_ID = #{componentId,jdbcType=INTEGER},
      </if>
      <if test="command != null">
        COMMAND = #{command,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=TINYINT},
      </if>
      <if test="orders != null">
        ORDERS = #{orders,jdbcType=TINYINT},
      </if>
      <if test="updaettime != null">
        UPDAETTIME = #{updaettime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.suntek.auto.operation.entity.AosExecCommand">
    update AOS_EXEC_COMMAND
    set COMPONENT_ID = #{componentId,jdbcType=INTEGER},
      COMMAND = #{command,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=TINYINT},
      ORDERS = #{orders,jdbcType=TINYINT},
      UPDAETTIME = #{updaettime,jdbcType=TIMESTAMP},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>