<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suntek.auto.operation.mapper.AosFunctionCheckResultMapper">
  <resultMap id="BaseResultMap" type="com.suntek.auto.operation.entity.AosFunctionCheckResult">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="PLAN_ID" jdbcType="VARCHAR" property="planId" />
    <result column="FUNCTION_CHECK_ID" jdbcType="VARCHAR" property="functionCheckId" />
    <result column="RESULT" jdbcType="TINYINT" property="result" />
    <result column="INTRODUCTION" jdbcType="VARCHAR" property="introduction" />
    <result column="UPDAETTIME" jdbcType="TIMESTAMP" property="updaettime" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PLAN_ID, FUNCTION_CHECK_ID, RESULT, INTRODUCTION, UPDAETTIME, CREATETIME, REMARK
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from AOS_FUNCTION_CHECK_RESULT
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from AOS_FUNCTION_CHECK_RESULT
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.suntek.auto.operation.entity.AosFunctionCheckResult">
    insert into AOS_FUNCTION_CHECK_RESULT (ID, PLAN_ID, FUNCTION_CHECK_ID, 
      RESULT, INTRODUCTION, UPDAETTIME, 
      CREATETIME, REMARK)
    values (#{id,jdbcType=INTEGER}, #{planId,jdbcType=VARCHAR}, #{functionCheckId,jdbcType=VARCHAR}, 
      #{result,jdbcType=TINYINT}, #{introduction,jdbcType=VARCHAR}, #{updaettime,jdbcType=TIMESTAMP}, 
      #{createtime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.suntek.auto.operation.entity.AosFunctionCheckResult">
    insert into AOS_FUNCTION_CHECK_RESULT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="planId != null">
        PLAN_ID,
      </if>
      <if test="functionCheckId != null">
        FUNCTION_CHECK_ID,
      </if>
      <if test="result != null">
        RESULT,
      </if>
      <if test="introduction != null">
        INTRODUCTION,
      </if>
      <if test="updaettime != null">
        UPDAETTIME,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="planId != null">
        #{planId,jdbcType=VARCHAR},
      </if>
      <if test="functionCheckId != null">
        #{functionCheckId,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        #{result,jdbcType=TINYINT},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="updaettime != null">
        #{updaettime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.suntek.auto.operation.entity.AosFunctionCheckResult">
    update AOS_FUNCTION_CHECK_RESULT
    <set>
      <if test="planId != null">
        PLAN_ID = #{planId,jdbcType=VARCHAR},
      </if>
      <if test="functionCheckId != null">
        FUNCTION_CHECK_ID = #{functionCheckId,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        RESULT = #{result,jdbcType=TINYINT},
      </if>
      <if test="introduction != null">
        INTRODUCTION = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="updaettime != null">
        UPDAETTIME = #{updaettime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.suntek.auto.operation.entity.AosFunctionCheckResult">
    update AOS_FUNCTION_CHECK_RESULT
    set PLAN_ID = #{planId,jdbcType=VARCHAR},
      FUNCTION_CHECK_ID = #{functionCheckId,jdbcType=VARCHAR},
      RESULT = #{result,jdbcType=TINYINT},
      INTRODUCTION = #{introduction,jdbcType=VARCHAR},
      UPDAETTIME = #{updaettime,jdbcType=TIMESTAMP},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>