#!/bin/sh 
# chkconfig: 2345 80 90 
# Simple Redis init.d script conceived to work on Linux systems 
# as it does use of the /proc filesystem. 
   
REDISPORT={{ redis_port }} 
EXEC={{ redis_home }}/bin/redis-server 
CLIEXEC={{ redis_home }}/bin/redis-cli 

PIDFILE=/var/run/redis_${REDISPORT}.pid 
CONF="/etc/redis/redis-${REDISPORT}.conf" 
   
case "$1" in 
    start) 
        if [ -f $PIDFILE ] 
        then 
                echo "$PIDFILE exists, process is already running or crashed" 
        else 
                echo "Starting Redis server..." 
                $EXEC $CONF &
        fi
            if [ "$?" = "0" ]
                then
                    echo "Redis is running..."
            fi
        ;; 
    stop) 
        if [ ! -f $PIDFILE ] 
        then 
                echo "$PIDFILE does not exist, process is not running" 
        else 
                PID=$(cat $PIDFILE) 
                echo "Stopping ..." 
                $CLIEXEC -p $REDISPORT -a "mesRedis+)" shutdown 
                while [ -x /proc/${PID} ] 
                do 
                    echo "Waiting for Redis to shutdown ..." 
                    sleep 1 
                done 
                echo "Redis stopped" 
        fi 
        ;;
    restart|force-reload)
                ${0} stop
                ${0} start
        ;;
    *) 
        echo "Usage: /etc/init.d/redis-${REDISPORT} {start|stop|restart|force-reload}" >&2
        ;; 
esac
