[Unit]
Description=minio
Documentation=https://docs.minio.io
Wants=network-online.target
After=network-online.target
#minio文件具体位置
AssertFileIsExecutable={{ install_dir }}/minio

[Service]
WorkingDirectory={{ data_dir }}
# User and group 用户/组
User=root
Group=root
PermissionsStartOnly=true

#创建的配置文件 minio.conf
EnvironmentFile={{ install_dir }}/minio.conf
# ExecStartPre=/bin/bash -c "[ -n \"${MINIO_VOLUMES}\" ] || echo \"Variable MINIO_VOLUMES not set in {{ install_dir }}/minio.conf\""
# $MINIO_OPTS $MINIO_VOLUMES  //这其实就是minio服务启动命令 /root/minio是服务位置 后面是端口号和数据存放目录
ExecStart=/bin/bash {{ install_dir }}/run.sh

# StandardOutput=journal
# StandardError=inherit
# StandardOutput=file:{{ log_dir }}/minio.log
# StandardError=file:{{ log_dir }}/minio.log

# Specifies the maximum file descriptor number that can be opened by this process*
LimitNOFILE=65536
# Disable timeout logic and wait until process is stopped*
TimeoutStopSec=0
# SIGTERM signal is used to stop Minio*
KillSignal=SIGTERM
SendSIGKILL=no
SuccessExitStatus=0

[Install]
WantedBy=multi-user.target
